HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### terraform ###
# Ignora diretório onde ficam plugins, providers e cache
terraform/.terraform/
terraform/modules/**/*.tfstate
terraform/modules/**/*.tfstate.backup
terraform/modules/**/*.tfplan
terraform/modules/**/override.tf
terraform/modules/**/override.tf.json
terraform/modules/**/*_override.tf
terraform/modules/**/*_override.tf.json
terraform/modules/**/crash.log
terraform/modules/**/.terraform.lock.hcl

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### AWS
.aws/
